/* Reset */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* Utilities */
.container {
    max-width: 1080px;
   
}
body {
    font-family:'Times New Roman', Times, serif;
}
/*Banner*/
.banner {    
    background-color:#479EFE;    
    background-image: url(../img/pattern.png);
    background-size:30%;    
}
.banner img {
    height: 100px;
}

/* Text */
address {
    font-style: normal;
}
.grey {
    color: grey;
}
.small {
    size:15px;
}
.booleaner {
    color:rgb(0, 174, 255);
}
