/* Reset */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* Utilities */
body {
    font-family:'Times New Roman', Times, serif;
}
main {
    margin-left:5px;
}
ul {
    margin-left:15px; 
}
/*Header Secondario*/
.notehead {
    margin-left:5px;
}
/*Banner*/
.banner {    
    background-color:#479EFE;    
    background-image: url(../img/pattern.png);
    background-size:30%;    
}
.banner img {
    height: 100px;
}
/* Table */
table {
    border-spacing: 0;
}
th{
    background-color: rgb(0, 153, 255);
    color:white;
    }

/* Text */
address {
    font-style: normal;
}
.grey {
    color: grey;
}
.small {
    size:15px;
}
.booleaner {
    color:rgb(0, 174, 255);
}
.highlight {
    background-color: yellow;
}
.footer {
    color:white;
    font-weight: bold;
    font-size:larger;
    padding: 5px;
    }
/*Footer */

.monitor {
   display:block;
   background-image: url(../img/monitor.jpg);
   height: 200px;
   width: 200px;
   margin: 5px;
}
.graph {
    display:block;
    background-image: url(../img/graph.jpg);
    height: 200px;
    width: 200px;
    margin:5px;
    
    }